body {
    font-family: 'Open Sans', serif;
    text-align: justify;
    max-width: 100%;
}

body .share img {
    max-width: 100%;
}

li {
    padding-bottom: 5px;
}

h1 {
    vertical-align: middle;
    font-weight: 800;
    color: #FFF;
    padding-bottom: 10px;
    font-size: 48px;
    text-align: center;
}

p {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 30px;
}

a:hover {
    text-decoration: none;
    cursor: pointer;
}

/************** footer template *****************/

.copyright-space {
    font-size: 1.1em;
    text-align: center;
}

/************** end of footer template *****************/


/* Redesigned Site Home Page */

section.module p {
  font-size: 16px;
  margin-bottom: 10px;
  line-height: 30px;
}

.headline-title {
    background-color: #3498db;
    color: #fff;
}

.headline-promo-banner {
    background-color: #c43f8a;
    color: #fff;
    width: 100%;
}

.headline-promo-banner h1 {
    font-size: 36px;
    margin-top: 0;
}

.spacer-row {
    height: 300px;
}

.enrollment-link {
    background-color: #e67e22;
    color: #fff;
    font-size: 48px;
    font-weight: 800;
    float: right;
    max-width: 100%;
}

.enrollment-link:hover {
    background-color: #e74c3c;
    cursor: pointer;
}

.section {
    font-size: 120%;
    font-family: 'Open Sans', serif;
    padding: 15px;
}

section.module.content {
  padding: 40px 0;
}

section.module.content a {
  cursor: pointer;
}

section.module.parallax {
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

section.module.parallax h1 {
  font-family: 'Open Sans', 'sans-serif';
  color: #fff;
  text-align: center;
  padding-top: 15px;
}

section.module.parallax-1 {
  background-image: url(/images/home/homepage4.png);
}

section.module.parallax-2 {
  background-image: url(/images/home/homepage2.jpg);
}

section.module.parallax-3 {
  background-image: url(/images/home/homepage3.jpg);
}

section.module.parallax-4 {
  background-image: url(/images/home/homepage1.JPG);
}

/* Exposure, Enrollment, Employment boxes */

.card {
    width: 300px;
    height: 200px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    position: relative;
    margin: 20px 5px 40px 5px;
    padding: 0;
    float: left;
}

/* for Student Projects each image link, also change col-xs-11 from 3 images per row to col-xs-12 4 images per row*/
.card-Student-Projects {
    width: 230px;
    height: 200px;
    border: 1px solid #e5e5e5;
    overflow: hidden;
    position: relative;
    margin: 20px 5px 40px 5px;
    padding: 0;
    float: left;
}

.card:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25),0 5px 15px #193047;
}

.card-text {
    padding: 5px;
    color: #fff;
}


.exposure-photo {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(/images/exposure.JPG);
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: 100%;
}

.enrollment-photo {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(/images/enrollment.JPG);
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: 100%;
}

.employment-photo {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(/images/employment.jpg);
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: 100%;
}


.title-text {
    font-weight: 600;
    text-align: center;
    padding-top: 45px;
    padding-bottom: 5px;
    color: #fff;
}

.caption-text {
    color: #fff;
    text-align: center;
}
.text-box {
    padding: 15px 15px 40px 15px;
    font-size: 18px;
}

/* Press */

.press-logo {
    width: 150px;
}

.push-down {
    padding-top: 20px;
    padding-right: 10px;
}

/* Email submission */

.email {
    margin-top: 20px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.label-text {
    font-size: 18px;
    margin-right: 15px;
}

.email-btn {
    margin-left: 15px;
}

/* Model */

.box-container {
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    margin-bottom: 50px;
}

.model-icons {
    margin-top: 80px;
    margin-left: 20px;
}

.arrow {
    padding-top: 25px;
    margin-left: 10px;
    margin-bottom: 15px;
}

.model-icon-circle {
    height: 90px;
    width: 90px;
    margin-left: 10px;
    margin-bottom: 15px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #e5e5e5;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
}

.model-icon {
    padding-top: 25px;
}

.school-icon {
    padding-top: 20px;
    padding-left: 5px;
}

.icon-caption {
    font-size: 12px;
    text-align: center;
}

#last-elements {
    margin-top: -100px;
}

#last-elements .icon-caption {
    margin-bottom: 25px;
    margin-left: -15px;
}

/* Text Carousel */

.carousel-container {
  overflow-x: hidden;
}

#textCarousel {
    margin-bottom: 100px;
    margin-top: 50px;
    max-height: 20%;
    width: 100%;
}

.carousel-control.left {
    background-image: none;
    margin-left: -150px;
    margin-top: -125px;
    opacity: 1;

}
.carousel-control.right {
    background-image: none;
    margin-right: -150px;
    margin-top: -125px;
    opacity: 1;

}

.carousel-control .icon-prev,
.carousel-control .icon-next {
    font-size: 100px;
}


/* Sponsors and Partners */
.first-row {
    padding-top: 30px;
    margin-left: 25px;
}

.second-row {
    padding-left: 50px;
}

.second-column {
    padding-top: 20px;
    padding-left: 40px;
}

/* About Us */

.spacer {
    margin-bottom: 45px;
    margin-top: 5px;
    padding: 0;
}

.small-spacer {
    margin-top: 25px;
}

.director-photo {
    height: 175px;
    margin-right: 25px;
    margin-bottom: 5px;
}

.director-name {
    margin: 5px 0;
}

.director-caption {
    font-size: 12px;
    text-align: left;
    margin: 0;
}

/* use in instructor and TA job post */
.jobpost img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    height: 20%;
}

.staff div {
    padding-bottom: 2%;
}

/* Homepage and Banner photo styling */

.banner-image {
    overflow: hidden;
    max-width: 100%;
    height: 550px;
    position: relative;
    z-index: -1;
    margin: 0 0 25px 0;
    padding: 0;
}

.banner-image2 {
    max-width: 20%;
    position: center;
    z-index: -1;
    margin: auto;
    padding: 0;
}

.banner-title {
    font-size: 75px;
    padding-top: 320px;
    text-align: center;
    color: #fff;
}

/* added image placeholder */
.placeholder {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/placeholder.jpg);
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: 100%;
}

/* added studentProjects image as a css class*/
.studentProjects {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/Spring17DemoDayMissionBits2.jpg);
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: 100%;
}

.demoday {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/demoday_banner.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

#demo-day-map {
    width: 230px;
    height: 200px;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.rectangle {
    width: 30%;
    height: 50px;
    margin: 5px;
}

.logo-pink {
    background-color: #c43f8a;
}

.logo-orange {
    background-color: #ef8a33;
}

.logo-blue {
    background-color: #0866cc;
}

.no-margin {
    padding: 0;
    margin: 0;
}

.exposure {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/exposure.JPG);
    background-repeat: no-repeat;
    background-position: 30%;
    background-size: 100%;
}

.enrollment {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/trent.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position-y: 20%;
}

.hackathon {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(/hackathon/tenderloin.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 30%;
}

.volunteer {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/volunteers/MissionBitGala2017.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 30%;
}

.volunteer-card {
    height: 100%;

}

.volunteer-row {
    display: flex;
    flex-wrap: wrap;
    padding: 4% 4% 0 4%;
}

.volunteer-buttons {
    width: 20%;
    height: 20%;
    margin: 0% 40%;
    padding: 25px 100px 25px 100px;
}

.employment {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/employment.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 30%;
}

.about-us {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url(../images/aboutusnew.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 30%;
}

.donate-photo {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url(/images/donate.jpg);
    overflow: hidden;
    background-size: 100%;
    width: 100%;
    height: 550px;
    position: relative;
    z-index: -1;
    background-repeat: no-repeat;
    margin: 0 0 25px 0;
    padding: 0;
}

/* Media Queries */

@media screen and (max-width : 768px) {

    html {
        width: 100%;
        margin: 0;
    }

    .container {
        width: 100%;
        margin: 0;
    }

    .navbar-toggle {
        float: left;
    }

    .navbar-responsive-collapse {
        float: left;
    }

    section.module.parallax {
        display: none;
        height: 0;
    }

    section.module.parallax.parallax-1 {
        display: block;
        height: 250px;
        margin-bottom: 50px;
    }

    .headline-title {
        width: 100%;
        height: 100%;
    }

    .headline-title h1 {
        font-size: 24px;
    }

    .headline-promo-banner h1 {
        font-size: 24px;
    }

    .enrollment-link {
        width: 100%;
        height: 100%;
    }

    .spacer-row {
        height: 0;
    }

    #entry_529542172 {
        width: 90%;
    }

    .card {
        display: none;
        height: 0;
    }

    .press-logo {
        margin-left: 30%;
    }

    .first-row {
        padding-top: 0;
        margin-left: 0;
    }

    .second-row {
        padding-left: 0;
    }

    .second-column {
        padding-top: 0;
        padding-left: 0;
    }

    .box-container {
        width: auto;
    }

    .banner-image {
        height: 175px;
    }

    .banner-title {
        font-size: 45px;
        padding-top: 45px;
    }

    #textCarousel {
        display: none;
        height: 0;
    }

    #model {
        display: none;
        height: 0;
    }

    .code-ramp-form.col-xs-12 {
        padding: 0;
        margin: 0;
    }

    iframe {
        width: auto;
        height: 500px;
        margin: 0;
    }

}

/********* DONATE INDEX ***********/


/********* PROGRAMS INDEX ***********/

.classes-container {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}

#programs .class-module {
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    padding: 0;
}

#programs .class-text {
    padding: 0 5% 0 5%;
    margin: 1em 0 0 1%;
    display: inline-block;
    vertical-align: top;
}

.course-name {
    min-height: 60px;
}

.reg-deadline {
    color: white;
    text-align: center;
}

@media (max-width: 768px) {
  .reg-deadline {
    font-size: 15px;
  }
}

/********* MISC ***********/
nav {
    font-family: 'Open Sans', 'sans-serif';
    font-weight: 500;
    font-size: 1.25em;
}

.navbar-nav {
    margin-top: 10px;
    margin-bottom: 5px;
}

.navbar-nav > li.menu-button > a {
    /*background-color: #3498DB;*/
    background-color: #c43f8a;
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
}

.navbar-nav > li.menu-button > a:hover {
    /*background-color: #2C86C2;*/
    background-color: #9c356f;
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: white;
}
/* like Donate, make one for Gala */
.navbar-nav > li.menu-gala > a {
    background-color: #ffbf00;
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: white;
    border-radius: 5px;
}

.navbar-nav > li.menu-gala > a:hover {
    background-color: #ff9400;
    margin-top: 5px;
    padding-top: 10px;
    margin-bottom: 5px;
    padding-bottom: 10px;
    color: white;
}

.navbar-brand {
    display: block;
    width: 150px;
    height: 50px;
    background: url(/images/logo.png) no-repeat center center;
    background-size: 136px 36px;
    text-indent: -99999px;
    margin: 10px 5px 5px 5px;
}

/* in gala navbar, make some margin between next tab */
li.navbar-gala {
    margin-right: 5px;
}
#mbit .social-icon {
    font-size: 30px;
    padding-left: 5px;
    padding-right: 5px;
}

#mbit header {
    margin-bottom: 0;
}

.section ul {
    padding-left: 0;
    list-style-position: inside;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 30px;
}

#mbit .donate-icon {
    font-size: 15px;
    margin-top: -5px;
    padding-left: 5px;
    padding-right: 5px;
}

.donate-icon .fa-usd {
    font-weight: bold;
}
.donate-icon .fa-square {
    color: #f0ad4e;
}
.donate-icon:hover .fa-square,
.donate-icon:focus .fa-square {
    color: #ed9c28;
}

.campaign-alert {
    text-align: center;
}
.student-alert {
    text-align: center;
}
iframe.campaign-alert {
    margin: 30px 15px 15px 15px;
    float: right;
}

.apply-ctr, .donate-ctr {
    text-align: center;
    margin: 50px auto 30px auto;
}

.vimeo .donate-ctr {
    margin: 0 auto inherit auto;
}
.vimeo .donate {
    width: 500px;
}

#mbit .donate {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #fff;
    background: #f0ad4e;
    text-shadow: none;
    border: none;
}
#mbit .donate:hover, #mbit .donate:focus {
    /*background: #ed9c28;*/
    background-color: white;
    color: #f0ad4e;
}

#mbit .apply {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #fff;
    background: #f0ad4e;
    text-shadow: none;
    border: none;
}
#mbit .apply:hover, #mbit .apply:focus {
    background: #ed9c28;
}

#mbit .lab {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #fff;
    background: #f0ad4e;
    text-shadow: none;
    border: none;
}
#mbit .lab:hover, #mbit .lab:focus {
    background: white;
    color: #ed9c28;
}

#mbit .workshop {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #fff;
    background: #3498db;
    text-shadow: none;
    border: none;
}

#mbit .workshop:hover, #mbit .workshop:focus {
    background: white;
    color: #3498db;
}

#mbit .mentor {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #fff;
    background: #e74c3c;
    text-shadow: none;
    border: none;
}

#mbit .mentor:hover, #mbit .mentor:focus {
    background: white;
    color: #e74c3c;
}

#mbit .hardware {
    text-transform: uppercase;
    font-family: 'Open Sans', serif;
    color: #fff;
    background: #1abc9c;
    text-shadow: none;
    border: none;
    margin-top: 5%;
    margin-bottom: 5%;
}

#mbit .hardware:hover, #mbit .hardware:focus {
    background: white;
    color: #1abc9c;
}

#mbit .learn-more {
    margin-top: 0;
    background: #fff;
    color: #1abc9c;
}

.shadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, .4);
}

footer {
    margin-top: 40px;
    padding: 20px 0 30px;
}

footer,
.copyright {
    color: #dadada;
    background: black;
}

footer a {
    color: #3498db;
    font-weight: 500;
}

footer address td.contact-info {
    text-align: center;
    /*padding-right: 10px;*/
}

.icon {
    padding-right: 10px;
    margin-bottom: 10px;
}

.copyright {
    border-top: 1px solid #777;
    padding: 11px 0 7px;
    font-size: 12px;
}

.headline {
    margin: 25px 0 0 0;
    /*border-bottom: 1px dotted #e4e9f0;*/
}

.headline h2 {
    display: inline;
    border-bottom: 2px solid #3498db;
    margin-bottom: 20px;
}

.team h3 {
    font-family: 'Merriweather', serif;
}

.team small {
    display: block;
    font-size: 12px;
    margin-top: 2px;
    font-family: 'Merriweather', serif;
}

.team .team-social li {
    padding: 0;
}

.team .team-social li i {
    font-size: 20px;
    padding: 3px;
    min-width: 30px;
    text-align: center;
    background: #f7f7f7;
    color: #aaa;
    display: inline-block;
}
.team .team-social li i:hover {
    background: #3498db;
    color: #fff;
    transition: all 0.2s ease-in-out;
}

.team ul.team-social {
    text-align: right;
}

.team .thumbnail-style {
    padding: 12px;
}

.team .thumbnail-style:hover {
    box-shadow: 0 0 8px #ddd;
    transition: box-shadow 0.2s ease-in-out;
}

.testimonials .testimonial-info img {
    width: 60px;
    height: 60px;
    float: left;
    padding: 2px;
    margin-right: 15px;
    border: solid 1px #ccc;
    border-radius: 50%;
}

.testimonials p {
    margin-top: 5px;
}
.testimonials .testimonial-info {
    color: #3498db;
}
.testimonials .testimonial-info em {
    color: #777;
    display: block;
}

.promo-box {
    padding: 20px;
    margin: 25px 0 20px;
    text-align: center;
}

.promo-box i {
    display: block;
    font-size: 50px;
}

#mbit .share-button {
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    color: #fff;
    background: #3498db;
    text-shadow: none;
    border: none;
    width: 500px;
}
#mbit .share-button:hover, #mbit .share-button:focus {
    background: #3aa9f2;
}

#mbit.share {
    background-color: #f0f0f0;
    margin: 0;
}
#mbit.share header {
    padding: 2px 0 10px 0;
    margin-bottom: 20px;
    background-color: black;
    color: white;
}

.share header h1 {
    text-align: center;
}
.share .copyright {
    border-top: 1px solid #eee;
    text-align: center;
    background: inherit;
    color: #999;
}
#mbit .share-cta {
    background-color: white;
    box-shadow: 0 1px 1px rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.share .actions {
    text-align: center;
    border-top: 1px solid silver;
/*    margin-top: 2em;*/
    margin-bottom: 1em;
}
.share .actions h2 {
    font-family: 'UbuntuMedium', sans-serif;
    color: black;
}

.share .actions .byline {
    color: #666;
    margin: 10px 0;
}

.share .actions button {
    font-weight: bold;
    border: 1px solid #1a1a1a;
    border-radius: 6px;
    font-size: 24px;
    line-height: 48px;
    padding: 0 20px;
    margin: 0;
    cursor: pointer;
    z-index: 10;
}

.share .actions button:hover {
    opacity: 0.9;
}
.share .actions button.facebook {
    background-image: linear-gradient(#4b71c1, #3b5998);
    color: #fff;
    box-shadow: inset 0 1px 0 0 #5b8aeb;
    text-shadow: #3b5998 0 1px 0;
    cursor: pointer;
}

.share .actions button.twitter {
    background: #2578b4;
    background-image: linear-gradient(#58a8e2, #2578b4);
    color: #fff;
    box-shadow: inset 0 1px 0 0 #88c1ec;
    text-shadow: #2578b4 0 1px 0;
}
.share .actions button.play {
    background: #87c442;
    background-image: linear-gradient(#9fd04f, #87c442);
    box-shadow: inset 0 1px 0 0 #b7dc63;
    text-shadow: #ffff8e 0 1px 0;
}

.share .actions button.reddit {
    background: #b3cce6;
    background-image: linear-gradient(#082e54, #b3cce6);
    color: #fff;
    box-shadow: inset 0 1px 0 0 #5b8aeb;
    text-shadow: #3b5998 0 1px 0;
    cursor: pointer;
}

.share .progress-ctr {
    padding-top: 0.05%;
    margin-left: -1.5%;
    margin-right: -1.5%;
    margin-bottom: -1.5%;
    padding-left: 1%;
    padding-right: 1%;
}

.share .progress .progress-bar {
    text-align: right;
    background: #87C442;
    background-image: linear-gradient(#9fd04f, #87c442);
    height: 30px;
}
.share .progress .number {
    color: #000;
    font-family: 'UbuntuMedium', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin: 0 4px;
}

.clear {
    clear: both;
}

.programs .section {
    text-align: center;
    padding: 0;
}

.program .logo {
    float: right;
    max-width: 200px;
}

.programs .program ul {
    list-style-type: none;
}

.partners div.row div {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.partners div.row img {
    max-width: 200px;
    max-height: 100px;
    vertical-align: middle;
}

.background-color-blue { background-color: #3498db; }
.background-color-orange { background-color: #e67e22; }
.background-color-red { background-color: #e74c3c; }
.color-blue { color: #3498db; }
.color-orange { color: #e67e22; }
.color-red { color: #e74c3c; }
.color-sea { color: #1abc9c; }

.course-details ul {
    list-style-type: none;
}

.course-detail-title {
    font-style: italic;
    font-weight: bold;
}

.internship-online-question,
.mobile-boolean-question,
.teacher-boolean-question,
.mhs-project-form-body,
.sfusd-project-form-body {
    background-color: rgba(192, 192, 192, 0.25);
    padding: 2em;
    border-radius: 0.25em;
    box-shadow: 0 0 5px rgba(52, 152, 219, 1);
    border: 1px solid rgba(52, 152, 219, 1);
    margin-top: 1em;
}

.radio,
.checkbox,
.mentor-name,
.mentor-email,
.project-name,
.project-email {
    margin-left: 1em;
}

#save-intern-button,
#save-mobile-button,
#save-teacher-button,
#save-mhs-project-button,
#save-sfusd-project-button {
    margin-left: 1em;
    margin-top: 1em;
}

.mentor-success,
.project-success {
    border: 1px solid green;
    color: green;
    text-align: center;
    margin-top: 1em;
    border-radius: .25em;
    background-color: rgba(192, 192, 192, 0.25);
    box-shadow: 0 0 2px green;
    margin-bottom: 1em;
}

.success-msg {
    padding-top: .5em;
}

.mentor-form,
.student-form {
    margin-top: 1em;
}

.the-ask {
    font-weight: bold;
    font-style: italic;
    font-size: 1.25em;
}

.question {
    font-family: 'Open Sans', 'sans-serif';
}

.owner-header {
    font-weight: bold;
}

.owner-name {
    font-style: italic;
}

.TeamMembers {
    font-size: 20px;
}

.projects {
    font-family: 'Open Sans', 'sans-serif';
    display: inline;
    border-bottom: 2px solid #3498db;
    font-size: 30px;
    font-weight: 500;
    line-height: 1.1;
    margin: 30px 0 15px 0;
}

.Members {
    font-size: 30px;
}

.teamlineup div.row div {
    text-align: center;
    min-height: 100px;
}
.teamlineup div.row .vpadding {
    display: inline-block;
    height: 100%;
}
.teamlineup div.row img {
    max-width: 210%;
    max-height: 210px;
    vertical-align: middle;
}

.studentquotes {
    color: gray;
    font-style: italic;
}

.amap {
    position: fixed;
}

.game-page .col-sm-2,
.game-page .col-sm-3,
.game-page .col-sm-4 {
    text-align: center;
    font-size: 24px;
    font-family: 'Merriweather', serif;
}

.team-icon {
    height: auto;
    width: 100%;
}

@media (min-width:769px) and (max-width: 991px) {
    .homepage-image {
        height: 300px;
        min-width: 391px;
    }
}

@media (max-width: 768px) {
    .homepage-image {
        height: 200px;
        min-width: 586px;
    }
}

/********* GALA ***********/

/* added gala image as a css class*/
.gala.responsive-banner {
  background: url(/images/gala17-2.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.responsive-banner {
  width: 100%;
  height: 0;
  overflow: hidden;
  margin: 0 0 25px 0;
  /* 3:1 aspect ratio */
  padding: 33.33% 0 0;
}

/* use in Gala page flyer image, reduceimgsize class is use to set a max size of the image while applying Bootstrap responsive to the image. */
img.reduceimgsize{
    max-width: 100%;
    max-height: 100%;
}

/* use in Gala page sponsor image, gala-sponsor-img and gala-sponsor-img:hover is for Gala page sponsor images. To set size, border, hover effect with box shadow and enlarge */
img.gala-sponsor-img {
    width: 60px;
    height: 60px;
/*    border: 1px solid #e5e5e5;*/
}
img.gala-sponsor-img:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25),0 5px 15px #193047;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
img.gala-sponsor-img-ms {
    width: 120px;
    height: 60px;
/*    border: 1px solid #e5e5e5;*/
}
img.gala-sponsor-img-ms:hover {
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .25),0 5px 15px #193047;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
/* use in Gala page hyperlink, add space between hyperlinks */
a.gala-a {
    padding-right: 20px;
}

/* hackathon schedule */
.schedule-block {
    display: inline-block;
    min-width: 84px;
    text-align: center;
    background-color: #c43f8a;
    color: white;
    border-radius: 6px;
    padding: 7px 9px;
    margin: 4px 0;
}
