[submodule "studentProjects/fall17/Website_Project"]
	path = studentProjects/fall17/Website_Project
	url = https://github.com/squido4/Website_Project.git
[submodule "studentProjects/fall17/ursineFightTime"]
	path = studentProjects/fall17/ursineFightTime
	url = https://github.com/Haibini/ursineFightTime.git
[submodule "studentProjects/fall17/beatARaceNotACase"]
	path = studentProjects/fall17/beatARaceNotACase
	url = https://github.com/Roneop24/beatARaceNotACase.git
[submodule "studentProjects/fall17/derpyAppleVsHappyPotato"]
	path = studentProjects/fall17/derpyAppleVsHappyPotato
	url = https://github.com/marylynntom/derpyAppleVsHappyPotato.git
[submodule "studentProjects/fall17/LavaRun"]
	path = studentProjects/fall17/LavaRun
	url = https://github.com/Chritin/LavaRun.git
[submodule "studentProjects/fall17/shaweneTheSheep"]
	path = studentProjects/fall17/shaweneTheSheep
	url = https://github.com/gepori/shaweneTheSheep.git
[submodule "studentProjects/fall17/guessThatDisease"]
	path = studentProjects/fall17/guessThatDisease
	url = https://github.com/olhyatt/guessThatDisease.git
[submodule "studentProjects/fall17/kfc"]
	path = studentProjects/fall17/kfc
	url = https://github.com/Eduardo2504/kfc.git
[submodule "studentProjects/fall17/Arize"]
	path = studentProjects/fall17/Arize
	url = https://github.com/REDHOOD510/Arize.git
[submodule "studentProjects/fall17/explosionWoman"]
	path = studentProjects/fall17/explosionWoman
	url = https://github.com/erika-marcelo/explosionWoman.git
[submodule "studentProjects/fall17/fallingstars"]
	path = studentProjects/fall17/fallingstars
	url = https://github.com/aimysun/fallingstars.git
[submodule "studentProjects/fall17/demoday"]
	path = studentProjects/fall17/demoday
	url = https://github.com/bunnieunicornpuke/demoday.git
[submodule "studentProjects/fall17/Suraceif"]
	path = studentProjects/fall17/Suraceif
	url = https://github.com/Choy66woy/Suraceif.git
[submodule "studentProjects/fall17/uploadstuff"]
	path = studentProjects/fall17/uploadstuff
	url = https://github.com/alexanduh/uploadstuff.git
[submodule "studentProjects/fall17/mariodash"]
	path = studentProjects/fall17/mariodash
	url = https://github.com/aadammissionbit/mariodash.git
[submodule "studentProjects/fall17/zipped"]
	path = studentProjects/fall17/zipped
	url = https://github.com/dorejepov/zipped.git
[submodule "studentProjects/fall17/Hangman"]
	path = studentProjects/fall17/Hangman
	url = https://github.com/JetShaikh/Hangman.git
[submodule "studentProjects/fall17/universeseasiestgame"]
	path = studentProjects/fall17/universeseasiestgame
	url = https://github.com/21kanint/universeseasiestgame.git
[submodule "studentProjects/fall17/endlessrunner"]
	path = studentProjects/fall17/endlessrunner
	url = https://github.com/Easy4me/endlessrunner.git
[submodule "studentProjects/fall17/Pong-Remastered"]
	path = studentProjects/fall17/Pong-Remastered
	url = https://github.com/TonyIsBetterThanYou/Pong-Remastered.git
[submodule "studentProjects/fall17/tankdestruction"]
	path = studentProjects/fall17/tankdestruction
	url = https://github.com/chuy510/tankdestruction.git
[submodule "studentProjects/fall17/Banana-lava-game"]
	path = studentProjects/fall17/Banana-lava-game
	url = https://github.com/FrGalicia/Banana-lava-game.git
[submodule "studentProjects/fall17/our-website"]
	path = studentProjects/fall17/our-website
	url = https://github.com/sebxsstixn/our-website.git
