---
enable-mentor-alert: true
title: "About Us"
---

<!-- {% comment %}
  Edit _data/people.yml to make changes to the lists here!
}
{% endcomment %} -->
<div class="homepage-image img-groups-1">
</div>

<!-- container -->
<div class="container" role="main">
    <div class="page-head">
        <span>Free Coding Classes for Public School Students</span>
    </div>
    <div class="section">
        <div class="headline" id="who-we-are">
            <h2>Who We Are</h2>
        </div>
        <p>
            Mission Bit is a non-profit that offers free programming classes taught by
            <a href="about-us/#lead-instructors">experienced engineers and entrepreneurs</a>
            to San Francisco public school students. We provide everything
            the students need, they just need to show up and be eager to learn. No prior experience
            required.
        </p>
        <p>
            We give students the opportunity to learn directly from successful engineers and
            entrepreneurs who enjoy sharing knowledge and want to give back
            to the community. We're focused on project based learning and aim to teach both
            core computer science concepts as well as the practical skills and technologies that are
            required to build web sites and applications today. We partner with the public school system,
            <a href="http://www.outofsite-sf.org/" target="_blank">Out of Site</a>, and
            <a href="http://www.jamestownsf.org/" target="_blank">Jamestown Community Center</a> to
            provide elective credit to students that counts towards their graduation.
        </p>
        <ul>
            <li><a href="about-us/#management">Management</a></li>
            <li><a href="about-us/#board-of-directors">Board of Directors</a></li>
            <li><a href="about-us/#lead-instructors">Lead Instructors</a></li>
            <li><a href="about-us/#instructors">Instructors</a></li>
            <li><a href="about-us/#advisors-to-the-board">Advisors to the Board</a></li>
        </ul>
    </div>

    <!--Promo Box-->
    <div class="headline" id="primary-goals"><h2>Primary Goals</h2></div>
    <div class="row">
        <div class="col-md-4">
            <div class="promo-box">
                <i class="fa fa-bullhorn color-blue"></i>
                <strong> Teach More Kids to Code </strong>
                <p> Mission Bit classes create opportunities for more public school students to explore computer programming as potential academic and professional pursuit. </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="fa fa-bolt color-orange"></i>
                <strong> Teach Kids to Code Sooner </strong>
                <p> Mission Bit classes create opportunities for public school students to begin developing computer programming skills earlier in their academic careers.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="fa fa-rocket color-red"></i>
                <strong> Increase Pace and Scope of Coding Education </strong>
                <p> Mission Bit classes create opportunities for public school students to learn computer programming skills and technologies in parallel and complemtary with their 'in-school' classes </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="promo-box">
                <i class="fa fa-star color-red"></i>
                <strong> Curriculum Alignment </strong>
                <p> Mission Bit course offerings align with and complement classes being offered via SF Unified CS courses, TEALS AP classes, Code.org AP classes as well as CS programs  of City and State colleges and universities </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="fa fa-money color-sea"></i>
                <strong> Professional Skill Development </strong>
                <p> Mission Bit places an active emphasis on skill development that aligns directly with expectations of companies employing computer programming engineers. </p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="promo-box">
                <i class="fa fa-thumbs-up color-blue"></i>
                <strong> Internships and Special Projects </strong>
                <p> Mission Bit is actively working with tech companies in the San Francisco to create internships and creative projects for SF public high school students. </p>
            </div>
        </div>
    </div>
    <!--End Promo Box-->
    <div class="headline" id="note-from-founder"><h2>Note from Founder</h2></div>
    <div class="row">
        <div class="col-md-12">
            <div class="testimonials testimonials-v1" id="testimonials-1">
                <div class="item active">
                    <p>
                        I grew up in an at-risk low income rural community in upstate New York. Entering high school, I charted a path that helped me bust through the challenges of my environment and led to new exciting opportunities and experiences. I feel really lucky and appreciate the help, direction and understanding I received along the way. All kids benefit from a bit of guidance, attention and energy. This is especially true for youth growing up in challenging situations. Mission Bit is my 'thank you'. Hopefully, it provides some support to kids in SF seeking more for themselves and helps create new opportunities if they are willing to put in the work.
                    </p>
                    <div class="testimonial-info">
                        <img alt="" src="images/team/tyson-daugherty.jpg">
                        <span class="testimonial-author">
                            Tyson Daugherty
                            <em>Founder and Acting General Manager, Mission Bit</em>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- Row -->

    <div class="headline" id="management"><h2>Management</h2></div>
    {% assign people = (site.data.people | where: "management", "y" | sort: "name", "last" | sort: "management-order", "first") %}
    {% assign people_long_format = true %}
    {% include about-us/people.html %}

    <div class="headline" id="board-of-directors"><h2>Board of Directors</h2></div>
    {% assign people = (site.data.people | where: "board", "y" | sort: "name", "last" | sort: "board-order", "first") %}
    {% assign people_long_format = true %}
    {% include about-us/people.html %}

    <div class="headline" id="lead-instructors"><h2>Lead Instructors</h2></div>
    {% assign people = (site.data.people | where: "lead", "y" | sort: "name", "last" | sort: "lead-order", "first") %}
    {% assign people_long_format = false %}
    {% include about-us/people.html %}

    <div class="headline" id="instructors"><h2>Instructors</h2></div>
    {% assign people = (site.data.people | where: "mentor", "y" | sort: "name", "last" | sort: "mentor-order", "first") %}
    {% assign people_long_format = false %}
    {% include about-us/people.html %}

    <div class="headline" id="advisors-to-the-board"><h2>Advisors to the Board</h2></div>
    {% assign people = (site.data.people | where: "advisor", "y" | sort: "name", "last" | sort: "advisor-order", "first") %}
    {% assign people_long_format = false %}
    {% include about-us/people.html %}

    <div class="section">
        <div class="donate-ctr">
            <a class="btn btn-lg btn-default donate" href="donate/">Donate Today</a>
        </div>
    </div>
</div>