{% if page.enable-mentor-alert %}
<div class="alert alert-warning alert-dismissable student-alert">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong> Students acceptance emails have been sent for all classes. Check your email account for class details. </strong> 
  	<br>
  	<strong> We are still accepting student signups. <a href="/programs"> Students sign up here! </a></strong>
  	<br>
  	<strong> Volunteers. <a href="/programs"> Sign up here to mentor in a class </a></strong>
</div>
{% endif %}
