<footer role="contentinfo">
    <div class="container">
        <div class="row contact-info">
            <div class="col-xs-9 col-xs-offset-2">
                <div class="row">
                    <div class="col-sm-2">
                        <div class="text-center"><a style='color:inherit' href="mailto:info@missionbit.com"><i class="fa fa-2x fa-envelope icon"></i></a></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="text-center"><a style='color:inherit' href="https://twitter.com/missionbit" target="_blank"><i class="fa fa-2x fa-twitter icon"></i></a></div>                    
                    </div>
                    <div class="col-sm-2">
                        <div class="text-center"><a style='color:inherit' href="https://facebook.com/MissionBit" target="_blank"><i class="fa fa-2x fa-facebook icon"></i></a></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="text-center"><a style='color:inherit' href="https://github.com/MissionBit" target="_blank"><i class="fa fa-2x fa-github icon"></i></a></div>
                    </div>
                    <div class="col-sm-2">
                        <div class="text-center"><a style='color:inherit' href="https://www.instagram.com/missionbit/?hl=en" target="_blank"><i class="fa fa-2x fa-instagram icon"></i></a></div>
                    </div>
                </div>
            </div><!--/col-md-6-->
        </div><!--/row-->
    </div>
</footer>
