<footer role="contentinfo">
    <div class="container">
        <div class="row contact-info">
            <!-- <div class="col-md-6 md-margin-bottom-40"> -->
                <!-- Monthly Newsletter -->
                <!-- <div class="headline"><h2>Mission Bit Newsletter</h2></div>
                <p> Email us to subscribe to our newsletter!</p>
                <h4> <a href="mailto:info@missionbit.com">info@missionbit.com</a> </h4>
            </div> --><!--/col-md-6-->

            <div class="col-md-8 col-md-offset-2">
                <!-- Monthly Newsletter -->
                <!-- <div class="headline"><h2>Contact Us</h2></div> -->
                <!-- <address class="md-margin-bottom-40"> -->
                    <!-- SF, CA <br /> -->
                    <div class="row">
                        <div class="col-sm-3">
                            <i class="fa fa-2x fa-envelope icon"></i><a href="mailto:info@missionbit.com">info@missionbit.com</a>
                        </div>
                        <div class="col-sm-3">
                            <i class="fa fa-2x fa-twitter icon"></i><a href="https://twitter.com/missionbit" target="_blank">@missionbit</a>
                        </div>
                        <div class="col-sm-3">
                            <i class="fa fa-2x fa-facebook icon"></i><a href="https://facebook.com/MissionBit" target="_blank">facebook.com/missionbit</a>
                        </div>
                        <div class="col-sm-3">
                            <i class="fa fa-2x fa-github icon"></i><a href="https://github.com/MissionBit" target="_blank">github.com/MissionBit</a>
                        </div>
                    </div>
            </div><!--/col-md-6-->
        </div><!--/row-->
    </div>
</footer>
