<footer role="contentinfo">
    <div class="container">
        <div class="row contact-info">
            <div class="col-md-6 md-margin-bottom-40">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Mission Bit Newsletter</h2></div>
                <p> Email us to subscribe to our newsletter!</p>
                <h4> <a href="mailto:info@missionbit.com">info@missionbit.com</a> </h4>
            </div><!--/col-md-6-->

            <div class="col-md-6">
                <!-- Monthly Newsletter -->
                <div class="headline"><h2>Contact Us</h2></div>
                <address class="md-margin-bottom-40">
                    SF, CA <br />
                    <a href="mailto:info@missionbit.com">info@missionbit.com</a> <br />
                    <table>
                        <tr>
                            <td class="icon"><i class="fa fa-lg fa-twitter"></i></td>
                            <td><a href="https://twitter.com/missionbit" target="_blank">@missionbit</a></td>
                        </tr>
                        <tr>
                            <td class="icon"><i class="fa fa-lg fa-facebook"></i></td>
                            <td><a href="https://facebook.com/MissionBit" target="_blank">facebook.com/missionbit</a></td>
                        </tr>
                        <tr>
                            <td class="icon"><i class="fa fa-lg fa-github"></i></td>
                            <td><a href="https://github.com/MissionBit" target="_blank">github.com/MissionBit</a></td>
                        </tr>
                    </table>
                </address>
            </div><!--/col-md-6-->
        </div><!--/row-->
    </div>
</footer>
