<head>
    <title>{{ site.title }}{% if page.title %} – {{ page.title }}{% endif %}</title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="google-site-verification" content="jFTA4wBxq_KOA-cVJ01rH-Tm4A2EMsSxlo20nzv_fE4" />

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@missionbit">
    <meta property="og:image" content="https://www.missionbit.org{{ page.image | default: "/images/logo-fb.png" }}">
    <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}{% else %}Free coding education and industry experiences for public school students{% endif %}">
    <meta property="og:site_name" content="Mission Bit">
    <meta property="og:type" content="non_profit">
    <meta property="og:url" content="https://www.missionbit.org{{ page.url }}">

    <meta property="og:description" content="{% if page.description %}{{ page.description | escape }}{% else %}Mission Bit is a 501(c)3 non-profit offering coding education and industry experiences to equip, empower and inspire public school youth to build products they dream up and broaden the opportunity horizon they envision for themselves.{% endif %}">

    <!-- Shortcut icons -->
    <link rel="shortcut icon" href="/images/icon64.png" sizes="64x64" type="image/png">
    <link rel="shortcut icon" href="/images/icon128.png" sizes="128x128" type="image/png">
    <link rel="shortcut icon" href="/images/icon256.png" sizes="256x256" type="image/png">
    <!-- Vendor CSS -->
    <link rel="stylesheet" href="/vendor/bootstrap-3.0.3/css/bootstrap.css">
    <link rel="stylesheet" href="/vendor/bootstrap-3.0.3/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/vendor/font-awesome-4.3.0/css/font-awesome.css">
    <link rel="stylesheet" href="/vendor/ubuntu/stylesheet.css">
    <link rel="stylesheet" href="/vendor/source-code-pro/stylesheet.css">
    <!-- Local CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather' rel='stylesheet' type='text/css'>

    <!-- Scripts -->
    <script type="text/javascript" src="/vendor/jquery-2.0.3/jquery-2.0.3.min.js"></script>

    <!-- change the navigation bar default listenter from click to hover -->
    <script type="text/javascript">
        $(document).ready(function(){
            $("#dropdown1").hover(function(){$("#dropdown-toggle1").click();});
            $("#dropdown2").hover(function(){$("#dropdown-toggle2").click();});
            $("#dropdown3").hover(function(){$("#dropdown-toggle3").click();});
        });
    </script>

    {{ page.head }}
</head>
