<!--=== Header ===-->
<header class="navbar navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <!-- TODO can we use fa-bars for these bars? -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Mission Bit</a>
        </div>
        <nav class="collapse navbar-collapse navbar-responsive-collapse" role="navigation">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown-toggle1">About Us <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/about-us/">Who We Are</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/about-us/#StaffSection">Staff</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/about-us/#FacultySection">Faculty</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/about-us/#BoardMemberSection">Board of Directors</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/about-us/#JobSection">Job Openings</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown-toggle1">Events<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/workshops/">Workshops</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/sparkday/">Spark Day</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-programs">
                    <a href="/programs/">Enrollment</a>
                </li>
                <li class="menu-item menu-employment">
                    <a href="/careerprep/">Career Prep</a>
                </li>
                <li class="menu-item menu-apply">
                    <a href="/volunteer/">Volunteer</a>
                </li>
                <li class="dropdown">
                  <a href="/demo-day/" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown-toggle1">Demo Day<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/demo-day/">Register</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="/studentProjects/">Student Projects</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-gala navbar-gala">
                    <a href="/gala/">Gala</a>
                </li>
                <li class="menu-item menu-button">
                    <a href="/donate/">Donate</a>
                </li>
            </ul>
        </nav><!-- /navbar-collapse -->
    </div><!-- /container -->
</header>
