<!--=== Header ===-->
<header class="navbar navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <!-- TODO can we use fa-bars for these bars? -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Mission Bit</a>
        </div>
        <nav class="collapse navbar-collapse navbar-responsive-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li class="menu-item menu-about-us">
                    <a href="about-us/">About Us</a>
                </li>
                <li class="menu-item menu-programs">
                    <a href="programs/">Programs</a>
                </li>
                <li class="menu-item menu-get-involved">
                    <a href="get-involved/">Get Involved</a>
                </li>
                <li class="menu-item menu-apply">
                    <a href="programs/#apply">Apply</a>
                </li>
                <li class="menu-item menu-donate visible-xs">
                    <a href="donate/">Donate</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right hidden-xs">
                <li class="menu-item">
                    <a aria-label="Facebook" title="Facebook" class="social-icon fa fa-facebook-square" href="https://www.facebook.com/missionbit" target="_blank"></a>
                </li>
                <li class="menu-item">
                    <a aria-label="Twitter" title="Twitter" class="social-icon fa fa-twitter-square" href="https://twitter.com/MissionBit" target="_blank"></a>
                </li>
                <li class="menu-item">
                    <a aria-label="GitHub" title="GitHub" class="social-icon fa fa-github-square" href="https://github.com/MissionBit" target="_blank"></a>
                </li>
                <li class="menu-item">
                    <a aria-label="Donate" title="Donate Today" class="donate-icon" href="donate/">
                        <span class="fa-stack">
                            <span class="fa fa-square fa-stack-2x"></span>
                            <span class="fa fa-inverse fa-usd fa-stack-1x"></span>
                        </span>
                    </a>
                </li>
            </ul>
        </nav><!-- /navbar-collapse -->
    </div><!-- /container -->
</header>
