<!--=== Header ===-->
<header class="navbar navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <!-- TODO can we use fa-bars for these bars? -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Mission Bit</a>
        </div>
        <nav class="collapse navbar-collapse navbar-responsive-collapse" role="navigation">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown-toggle1">About Us <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="about-us/">Who We Are</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="about-us/#StaffSection">Staff</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="about-us/#FacultySection">Faculty</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="about-us/#BoardMemberSection">Board of Directors</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="about-us/#JobSection">Job Openings</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown-toggle1">Events<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="workshops/">Workshops</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="hackathon/">Hackathon</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-programs">
                    <a href="programs/">Enrollment</a>
                </li>
                <li class="menu-item menu-employment">
                    <a href="employment/">Career Prep</a>
                </li>
                <li class="menu-item menu-apply">
                    <a href="volunteer/">Volunteer</a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="dropdown-toggle1">Demo Day<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="studentProjects/demoDayRSVP">Register</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="studentProjects/">Student Projects</a></li>
                  </ul>
                </li>
                <li class="menu-item menu-button">
                    <a href="donate/">Donate</a>
                </li>

                <!-- <li class="menu-item">
                    <a aria-label="Facebook" title="Facebook" class="social-icon fa fa-facebook-square" href="https://www.facebook.com/missionbit" target="_blank"></a>
                </li>
                <li class="menu-item">
                    <a aria-label="Twitter" title="Twitter" class="social-icon fa fa-twitter-square" href="https://twitter.com/MissionBit" target="_blank"></a>
                </li>
                <li class="menu-item">
                    <a aria-label="GitHub" title="GitHub" class="social-icon fa fa-github-square" href="https://github.com/MissionBit" target="_blank"></a>
                </li> -->

            </ul>
        </nav><!-- /navbar-collapse -->
    </div><!-- /container -->
</header>
