<!--=== MIN HEADER ===-->
<header id="kick-nav" class="navbar navbar-default" role="banner">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="sr-only">Toggle navigation</span>
                <!-- TODO can we use fa-bars for these bars? -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="./">Mission Bit</a>
        </div>
    </div><!-- /container -->
</header>
